/*  重置浏览器默认样式  */
*{
	margin:0;
	padding:0;
}
ul,li{
	list-style:none;
}

body{
	font-family: poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
}
/* wrap */

.wrap1{
	background-color:#fff;
	padding:50px 0 ;
}
.wrap2{
	background-color:#f4f4f4;
	padding:50px 0;
}

/* header  */
#header{
	background-color:#000;
	height:44px;
}
#logo{
	/* background-color: aquamarine; */
	float:left;
	height:24px;
	margin:10px 0;
}
#nav{
	
	float:right;
	/* background-color:pink; */
}
#nav li{
	float:left;
	/* margin-left:30px; */
	height:44px;
	line-height:44px;
	/* background-color:red; */
}
#nav li a{
	color:#fff;
	height:44px;
	width:60px;
	padding:0 15px;
	text-align: center;
	text-decoration: none;
	display:block;
	/* background-color:greenyellow; */
}
#nav li a:hover{
	background-color:red;
}
#firsta{
	background-color:red;
}
/* main  */
#banner{
	/* text-align: center; */
	height:600px;
	background: url(images/unsplash.jpg) center -300px no-repeat;
}
#banner div{
	width:1180px;
	margin:0 auto;
	padding-top:150px;
	text-align:center;
	color:white;
	/* background-color: #87CEEB; */
}
#banner h2{
	font-size:50px;
}
#banner p{
	font-size:20px;
}

#main h2{
	background-color:gold;
	padding:50px 0;
}
#main p{
	background-color:skyblue;
}
.box{
	/* background-color:pink; */
	width:1180px;
	margin:0 auto;
}
.box h2{
	padding:0px 0 10px 0;
	font-size:35px;
	text-align: center;
	letter-spacing:17px;
	/* border-bottom:1px solid #ccc; */
}
.box p{
	padding:10px 0;
}
.about .wxm{
	border-radius: 50%;
	border:1px solid #ddd;
	float:left;
	margin-right:30px;
}
.about .about-text{
	
	/* background-color: red; */
}

/* footer  */
#footer{
	background-color:#333;
}